html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 30px 0;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: var(--vscode-editor-background);
}

img {
    max-width: 100%;
    height: auto;
}

#app {
}
